.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Cards-container
{
  margin: 4%;
  padding-top: 2%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.cards {
  float: left;
}

.card {
  max-width: 15vw;
  max-height: max-content;
  margin: 0.5vw;
  border-radius: 5%;
}

.card :hover {
  filter: brightness(50%);
  transition-duration: 0.5s;
}

.card img {
  max-width: 100%;
  border-radius: 5%;
  object-fit: cover; 
}
