/* .App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.Cards-container
{
  margin: 4%;
  padding-top: 2%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.cards {
  float: left;
  /* display: grid; */
  /* grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-columns: repeat(6, 1fr); */
  /* display: flex; */
}

.card {
  max-width: 15vw;
  max-height: max-content;
  margin: 0.5vw;
  border-radius: 5%;
}

.card :hover {
  filter: brightness(50%);
  transition-duration: 0.5s;
}

.card img {
  max-width: 100%;
  border-radius: 5%;
  object-fit: cover; 
}
